My_workflow_3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "73598118-d642-401f-9a5e-dfdbc3896118",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "VRkSns3ZukgyPqsW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are my personal AI email assistant.\nYour role is to respond to incoming emails as follows:\n\nPersonal context:\n- I am a law student based in Mumbai, specializing in human rights law, criminal law, and cyber law.\n- I am actively seeking internships, including at Consortia Legal Mumbai, and regularly work on legal research papers.\n- I prefer concise, polite, and professional communication in all emails.\n\nYour tasks:\n1. Read the user's email.\n2. Determine whether the sender is requesting to schedule a meeting or simply needs a reply.\n      - If the sender wants to schedule a meeting, ask for their available times or suggest 2-3 possible slots in the reply.\n      - If the sender simply needs a reply, respond to their query in detail, referencing my relevant legal or technical experience when appropriate.\n3. Always structure your response as a JSON object with these fields:\n    {\n      \"action\": \"reply\" OR \"schedule_meeting\",\n      \"replyText\": \"[The full reply you will send]\",\n      \"meetingTimeStart\": \"[if action is schedule_meeting, enter the start date and time by capturing sender's input; else leave blank]\",\n      \"meetingTimeEnd\": \"[if action is schedule_meeting, enter the end date and time by capturing sender's input; else leave blank]\",\n      \"messageId\": \"[if action is reply, then send the messageId in this json for further use, which is added below.]\"\n    }\n\nIncoming Email:\nSubject:{{ $json.Subject }}\nFrom:{{ $json.From }}\nBody:{{ $json.snippet }}\nmessageId: {{ $json.id }}\n\nInstructions:\n- Use the provided personal context when writing replies. Address questions about my law studies with accurate details.\n- Never invent facts. If you are unsure, suggest a follow-up.\n- Keep emails professional and warm, suitable for academic or internship communication.\n- Reply only once per email. If the conversation appears to be a meeting follow-up, reference previous correspondence.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "7ba6739c-5895-4328-862d-9e8c37c8229b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "c9e0338c-4b88-4a23-96a7-00217986745d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HzJnrNQebZhL89av",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Gmail Trigger').item.json.threadId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "2965a889-6684-4061-af58-c8e4734aa25c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"action\": \"\",\n    \"replyText\": \"\",\n    \"meetingTimeStart\": \"\",\n    \"meetingTimeEnd\": \"\",\n    \"messageId\": \"\"\n  }\n]\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        208
      ],
      "id": "deb139ce-c867-4c77-80b2-b8f8206c5a34",
      "name": "Structured Output Parser"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}