My_workflow_5.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "d90cec86-ba47-44f4-8453-7243a4f91803",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://suggestqueries.google.com/complete/search?client=firefox",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "fruits"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "063023de-4af4-4f85-b094-785adceea96f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Parse the stringified data\nconst raw = items[0].json.data;\n\n// Convert the string to actual JSON array\nconst parsed = JSON.parse(raw);\n\n// Extract keyword suggestions\nconst mainQuery = parsed[0];\nconst suggestions = parsed[1] || [];\n\n// Pick top 5 keywords\nconst topKeywords = suggestions.slice(0, 5);\n\nreturn [\n  {\n    json: {\n      mainQuery,\n      keywords: topKeywords\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "85f71205-284f-438d-ad99-640de612c102",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a social media and SEO trend analyst.\n\nYour task:\nBased on the main topic and related keywords, suggest **3 trending and SEO-optimized content ideas** that are likely to perform well on social media, YouTube, and blogs.\n\nMain Query: \"{{$json[\"mainQuery\"]}}\"\nRelated Keywords: {{$json[\"keywords\"].join(\", \")}}\n\nGuidelines:\n- Each idea must have a **catchy title** (like a viral headline).\n- Add a **short description** (1–2 lines) explaining why it’s trending or how it connects to the audience.\n- Try to mix informational + emotional + curiosity hooks.\n- Avoid generic titles like “The Importance of …”.\n- Focus on relevance, shareability, and SEO power.\n- Keep tone creative, human, and scroll-stopping.\n\nOutput Format (strict JSON only):\n{\n  \"main_query\": \"string\",\n  \"ideas\": [\n    {\n      \"title\": \"string\",\n      \"description\": \"string\"\n    },\n    {\n      \"title\": \"string\",\n      \"description\": \"string\"\n    },\n    {\n      \"title\": \"string\",\n      \"description\": \"string\"\n    }\n  ]\n}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "0fa38962-5b04-4d6f-8ce7-7dd35729f89b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        496,
        208
      ],
      "id": "2bc0ddb0-200a-43c8-ae0a-1ec9c6de7071",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HzJnrNQebZhL89av",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"main_query\": \"fruits\",\n  \"ideas\": [\n    {\n      \"title\": \"10 Exotic Fruits You’ve Never Heard Of (But Should Try!)\",\n      \"description\": \"Engage your audience with a colorful visual post exploring unique fruits and their surprising health benefits.\"\n    },\n    {\n      \"title\": \"The Truth About ‘Fruits of the Loom’: What It Really Means \",\n      \"description\": \"A fun and informative post connecting the popular brand to its fruity origins and symbolism in fashion.\"\n    },\n    {\n      \"title\": \"Snack Smart: Why ‘Fruitsnacks’ Are the New Healthy Obsession\",\n      \"description\": \"Tap into the wellness trend with a content piece on how fruity snacks are redefining healthy snacking.\"\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        800,
        208
      ],
      "id": "84130be4-3329-445b-9f31-290c412346ae",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.output.ideas.map(idea => ({\n  main_query: $json.output.main_query,\n  title: idea.title,\n  description: idea.description\n}));\n\nreturn data.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        0
      ],
      "id": "d39720d9-c919-446e-9d56-7260d4402240",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1184,
        0
      ],
      "id": "2fd02a06-7320-44ff-bc03-8abb1a9aafcb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert SEO content writer and health niche strategist with a focus on creating human-like, engaging, and search-optimized content.\n\nYour task is to write a **comprehensive, SEO-optimized blog article** for the given inputs:\n\nMain Topic: **\"{{$json[\"main_query\"]}}\"**  \nTitle Idea: **\"{{$json[\"title\"]}}\"**  \nDescription: **\"{{$json[\"description\"]}}\"**\n\n### Writing Guidelines:\n- Write **450–650 words** of original, reader-friendly content that sounds natural and engaging.  \n- Structure it into:\n  1. **Introduction** (set context, why it matters, build connection)\n  2. **3-4 Subheadings** (creative, keyword-rich, based on the title)\n  3. **Conclusion** (recap with emotional or motivational CTA)\n- Maintain a **friendly, trendy, and informative tone** suitable for modern health readers.\n- Use **SEO keywords** naturally — focus on the main topic and related key phrases.\n- Use **short paragraphs**, bullet points, and conversational flow for readability.\n- Avoid robotic tone or keyword stuffing, it should feel like it was written by a real expert blogger.\n\n### Additional SEO Requirements:\n- Add a **meta title** (max 60 characters)\n- Add a **meta description** (max 150 characters)\n- Include **5 meta tags** relevant to the topic\n- End with **5 trending hashtags** related to the niche\n- Finally, generate an **image prompt** (max 25 words) describing what image would best represent this article, focus on visually engaging, realistic or aesthetic ideas.\n\n### Output Format (strict JSON only):\n{\n  \"main_query\": \"string\",\n  \"idea_title\": \"string\",\n  \"article_title\": \"string\",\n  \"content\": \"string (450-650 words, formatted with headings and paragraphs)\",\n  \"meta_title\": \"string\",\n  \"meta_description\": \"string\",\n  \"meta_tags\": [\"string\"],\n  \"hashtags\": [\"string\"]\n}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1472,
        16
      ],
      "id": "797ccb27-c5d8-4849-b696-ff0c91da1f2c",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1424,
        208
      ],
      "id": "93a48a42-8cf5-41fa-a098-99c35b967f3b",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "HzJnrNQebZhL89av",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"main_query\": \"fruits\",\n  \"idea_title\": \"Decoding the Fruit Basket: Are You Pairing Your Fruits All Wrong? (Viral Health Hacks!)\",\n  \"article_title\": \"Decoding the Fruit Basket: Are You Pairing Your Fruits All Wrong?\",\n  \"content\": \"We’ve all heard that fruits are nature’s candy—but what if the way you mix them actually matters? In this blog, we’ll uncover the viral fruit-pairing trend that’s taking over health communities. Discover how smart fruit combinations can boost your digestion, energy, and overall wellness.\\n\\n### 1. The Science Behind Fruit Pairing\\nFruits digest at different speeds. Combining fast-digesting melons with slower fruits like apples or bananas can cause fermentation and bloating. So, the golden rule? Melons fly solo!\\n\\n### 2. Sweet vs. Acidic – Know the Difference\\nSweet fruits (like bananas and figs) and acidic fruits (like oranges and pineapples) have different enzymes. Mixing them can confuse your gut. Stick to similar categories for smoother digestion.\\n\\n### 3. Power Combos for Energy\\nSome pairings work like magic — apples + berries for antioxidants, or bananas + avocado for long-lasting energy. These combos balance sugar levels while fueling your body naturally.\\n\\n### 4. Listen to Your Body\\nYour body is the best guide. Experiment with pairings, observe how you feel, and create your own healthy snacking rituals.\\n\\n**Conclusion:** Eating fruits isn’t just about nutrition — it’s about harmony. Try these hacks, listen to your body, and enjoy the natural sweetness of health every day!\",\n  \"meta_title\": \"Fruit Pairing 101: Stop Mixing Fruits Wrong!\",\n  \"meta_description\": \"Learn how to pair fruits the right way for better digestion, energy, and flavor. Discover viral fruit hacks today!\",\n  \"meta_tags\": [\n    \"fruit pairing\",\n    \"healthy eating\",\n    \"wellness tips\",\n    \"digestive health\",\n    \"fruit combinations\"\n  ],\n  \"hashtags\": [\n    \"#FruitHacks\",\n    \"#HealthyLiving\",\n    \"#DigestiveWellness\",\n    \"#EatClean\",\n    \"#NutritionTips\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1648,
        208
      ],
      "id": "06c3c184-a996-482e-a55c-7e2082544cd6",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18T196hLKBe3dPbW-7PM13iuQTn1IwNyNw8yQdNGCmwY",
          "mode": "list",
          "cachedResultName": "Content n8n Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18T196hLKBe3dPbW-7PM13iuQTn1IwNyNw8yQdNGCmwY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18T196hLKBe3dPbW-7PM13iuQTn1IwNyNw8yQdNGCmwY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "main_query": "={{ $json.output.main_query }}",
            "idea_title": "={{ $json.output.idea_title }}",
            "article_title": "={{ $json.output.article_title }}",
            "content": "={{ $json.output.content }}",
            "meta_title": "={{ $json.output.meta_title }}",
            "meta_description": "={{ $json.output.meta_description }}",
            "meta_tags": "={{ $json.output.meta_tags }}",
            "hashtags": "={{ $json.output.hashtags }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "main_query",
              "displayName": "main_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "idea_title",
              "displayName": "idea_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "article_title",
              "displayName": "article_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "meta_title",
              "displayName": "meta_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "meta_description",
              "displayName": "meta_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "meta_tags",
              "displayName": "meta_tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hashtags",
              "displayName": "hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1824,
        16
      ],
      "id": "f81b3294-8129-4af2-aa41-bc537f14c743",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3Q08tzKDlp9K7tEQ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}