Script_and_Video_Generation_along_with_Captions_and_Lipsync.json
{
  "name": "Script and Video Generation along with Captions and Lipsync",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "f55fe9f3-e5bb-490b-8cc3-f054cf7faf0b",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        496,
        496
      ],
      "webhookId": "ccba06ce-2121-43c0-80f0-cd77f60f3130",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "elevenLabsApiKey",
              "type": "string",
              "value": "YOUR_ELEVENLABS_API_KEY"
            },
            {
              "id": "id-2",
              "name": "elevenLabsVoiceId",
              "type": "string",
              "value": "YOUR_VOICE_ID"
            },
            {
              "id": "id-3",
              "name": "falApiKey",
              "type": "string",
              "value": "YOUR_FAL_API_KEY"
            },
            {
              "id": "id-5",
              "name": "scriptMaxDuration",
              "type": "number",
              "value": 30
            },
            {
              "id": "id-6",
              "name": "perplexityModel",
              "type": "string",
              "value": "sonar"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9d8d1a75-0ffe-4801-b033-d6f4dffb3868",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "position": [
        768,
        496
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "photoUrl",
              "type": "string",
              "value": "={{ $json.message.photo ? $json.message.photo[$json.message.photo.length - 1].file_id : '' }}"
            },
            {
              "id": "id-2",
              "name": "theme",
              "type": "string",
              "value": "={{ $json.message.caption || $json.message.text || 'viral content' }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "abd153b6-ef63-4d78-afd7-ebfc817b7df4",
      "name": "Extract Photo and Theme",
      "type": "n8n-nodes-base.set",
      "position": [
        1168,
        496
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": "={{ $('Workflow Configuration').first().json.perplexityModel }}",
        "messages": {
          "message": [
            {
              "content": "={{ \n  \"Find the top 3 current viral trends related to: \" + $('Extract Photo and Theme').item.json.message.caption + \n  \". Focus on trending topics, hashtags, and content styles that are performing well on TikTok right now. \" + \n  \"Be specific and actionable. Limit your response strictly to 3 results only — no more.\" \n}}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "id": "3c84e9a0-d033-4516-86fd-c398094eae17",
      "name": "Search Trends with Perplexity",
      "type": "n8n-nodes-base.perplexity",
      "position": [
        512,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=Based on these trends: {{ $json.choices[0].message.content }}\n\nCreate a viral 30-second maximum reel script about: {{ $('Extract Photo and Theme').first().json.theme }}\n\nRequirements:\n- Maximum 30 seconds when spoken\n- Hook in first 2 seconds\n- Engaging and conversational\n- Optimized for voice synthesis\n- No special characters or formatting\n- Return ONLY the script text, nothing else"
            }
          ]
        },
        "options": {}
      },
      "id": "72f596b4-87bb-4bab-aaab-686a2d035d69",
      "name": "Generate Script with GPT-4",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        768,
        768
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.elevenlabs.io/v1/text-to-speech/' + $('Workflow Configuration').first().json.elevenLabsVoiceId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "={{ $('Workflow Configuration').first().json.elevenLabsApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "audio/mpeg"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  {\n    \"text\": $json.message.content,\n    \"model_id\": \"eleven_multilingual_v2\",\n    \"voice_settings\": {\n      \"stability\": 0.5,\n      \"similarity_boost\": 0.75\n    }\n  } \n}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio"
            }
          }
        }
      },
      "id": "1714d40b-bc03-42bc-b778-87df328764e1",
      "name": "ElevenLabs Voice Synthesis",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1168,
        768
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/veed/fabric-1.0",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Workflow Configuration').first().json.falApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"image_url\": $('Build Public Image URL').first().json.data.url.replace(/^http:\\/\\/tmpfiles\\.org\\/(\\d+)\\/(.*)$/i, 'https://tmpfiles.org/dl/$1/$2'), \"audio_url\": $json.data.url.replace(/^http:\\/\\/tmpfiles\\.org\\/(\\d+)\\/(.*)$/i, 'https://tmpfiles.org/dl/$1/$2'), \"resolution\": \"480p\" } }}",
        "options": {}
      },
      "id": "24c46cec-6c2f-464e-880b-e4f8785c57e6",
      "name": "FAL.ai Video Generation",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        512,
        1024
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=Create an engaging reel caption for a video about: {{ $('Extract Photo and Theme').first().json.theme }}\n\nBased on these trends: {{ $('Search Trends with Perplexity').first().json.choices[0].message.content }}\n\nRequirements:\n- Catchy hook in first line\n- Include 5-8 relevant trending hashtags\n- Keep it concise and engaging\n- Optimize for reel algorithm\n- Return ONLY the caption text with hashtags, nothing else"
            }
          ]
        },
        "options": {}
      },
      "id": "ffd123ee-1765-4c57-8d6e-4fa84fce3cf6",
      "name": "Generate Caption with GPT-4",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1168,
        1024
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "columns": {
          "value": {
            "IDEA": "={{ $('Extract Photo and Theme').first().json.message.caption }}",
            "CAPTION": "={{ $json.message.content }}",
            "URL AUDIO": "={{ $('Upload Audio to Public URL').first().json.data.url }}",
            "URL IMAGE": "={{ $('Build Public Image URL').first().json.data.url }}",
            "URL VIDEO": "={{ $('Download VEED Video').item.json.video.url }}"
          },
          "schema": [
            {
              "id": "IDEA",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "IDEA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL IMAGE",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "URL IMAGE",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL AUDIO",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "URL AUDIO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "URL VIDEO",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "URL VIDEO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "CAPTION",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "CAPTION",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "STATUS",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "IDEA"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c2574900-f049-413c-b4b8-0bf92a00eaca",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1632,
        1024
      ],
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3Q08tzKDlp9K7tEQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.photoUrl }}",
        "additionalFields": {}
      },
      "id": "348179f9-6856-48a8-86ef-d8019f07229f",
      "name": "Get Photo File from Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1408,
        496
      ],
      "webhookId": "466a3150-51b2-422e-841b-79f03d9a7317",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tmpfiles.org/api/v1/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "audio_mp3"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b972fb18-ff78-4931-9ea1-2b71a39bac32",
      "name": "Upload Audio to Public URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1632,
        768
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const b = item.binary?.audio;            // <-- ta propriété binaire actuelle\n  if (!b) return item;\n\n  // clone sous un nouveau nom de propriété\n  item.binary.audio_mp3 = {\n    ...b,\n    fileName: (b.fileName || 'audio.mp3').replace(/\\.mpga$/i, '.mp3'),\n    mimeType: 'audio/mpeg'\n  };\n\n  // (optionnel) garder l’original:\n  // delete item.binary.audio;\n\n  return item;\n});\n"
      },
      "id": "a4d57382-e9d6-4f8a-af66-b34c3cbd5d29",
      "name": "Convert .mpga to .mp3",
      "type": "n8n-nodes-base.code",
      "position": [
        1408,
        768
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tmpfiles.org/api/v1/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "3b663a16-b6d1-4883-869d-074e6f54584d",
      "name": "Build Public Image URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1632,
        496
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "id": "eac2b0a3-fc92-4616-b9eb-353b429256c0",
      "name": "Wait for VEED",
      "type": "n8n-nodes-base.wait",
      "position": [
        752,
        1024
      ],
      "webhookId": "55faa42e-6509-40b5-a589-48c1db44727f",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/veed/fabric-1.0/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Workflow Configuration').first().json.falApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "01c7a69a-f6e5-466a-970f-40aa7295be47",
      "name": "Download VEED Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        976,
        1024
      ],
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "Wait for VEED": {
      "main": [
        [
          {
            "node": "Download VEED Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download VEED Video": {
      "main": [
        [
          {
            "node": "Generate Caption with GPT-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert .mpga to .mp3": {
      "main": [
        [
          {
            "node": "Upload Audio to Public URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        []
      ]
    },
    "Build Public Image URL": {
      "main": [
        [
          {
            "node": "Search Trends with Perplexity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Extract Photo and Theme",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Photo and Theme": {
      "main": [
        [
          {
            "node": "Get Photo File from Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAL.ai Video Generation": {
      "main": [
        [
          {
            "node": "Wait for VEED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs Voice Synthesis": {
      "main": [
        [
          {
            "node": "Convert .mpga to .mp3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script with GPT-4": {
      "main": [
        [
          {
            "node": "ElevenLabs Voice Synthesis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Audio to Public URL": {
      "main": [
        [
          {
            "node": "FAL.ai Video Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Caption with GPT-4": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Photo File from Telegram": {
      "main": [
        [
          {
            "node": "Build Public Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Trends with Perplexity": {
      "main": [
        [
          {
            "node": "Generate Script with GPT-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}