Telegram_Support_Agent.json
{
  "name": "Telegram Support Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        224,
        80
      ],
      "id": "cc4bd556-03e7-4dfe-8835-19ced46bf948",
      "name": "Telegram Trigger",
      "webhookId": "c8a34e4f-7d3d-4bcf-997b-363f5e0846cf",
      "credentials": {
        "telegramApi": {
          "id": "UzRKc2SIJAN5bvOp",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        432,
        80
      ],
      "id": "a2bda04f-3b19-4044-9e29-1c914410a753",
      "name": "Send a chat action",
      "webhookId": "5bb0fbe9-1362-4d80-8d7a-bd90aaab2a26",
      "credentials": {
        "telegramApi": {
          "id": "UzRKc2SIJAN5bvOp",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful Telegram support assistant integrated into n8n.\n\nYou have access to the knowledge base from a Google Sheet:\n---\n\n**User message:**\n\"{{ $('Telegram Trigger').item.json.message.text }}\"\n\n---\n\n**Your task:**\n1. Read the user’s message and interpret what they’re asking.  \n2. Search for relevant information in the knowledge base (use questions, answers, and keywords as context).  \n3. Use the most relevant knowledge to **generate a clear, human-like answer** — not just a direct copy.  \n4. If no relevant knowledge exists, provide a polite fallback message like:  \n   > \"I’m sorry, but I don’t have information about that.\n\n5. Return the final response **only** as structured JSON:\n\n```json\n{\n  \"answer\": \"<Generated helpful answer based on the knowledge base or fallback>\"\n}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        640,
        80
      ],
      "id": "f5cb9ea7-9dae-4646-8fd8-48d424d02743",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        304
      ],
      "id": "7448016d-ebe8-4c0f-a288-66e1a7e298b6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HzJnrNQebZhL89av",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_niT7KNUGOyzhVZH6ylhnZ2SfPxJuGz9oWx_fb214g4",
          "mode": "list",
          "cachedResultName": "Telegram Bot Knowledge Base",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_niT7KNUGOyzhVZH6ylhnZ2SfPxJuGz9oWx_fb214g4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_niT7KNUGOyzhVZH6ylhnZ2SfPxJuGz9oWx_fb214g4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        816,
        320
      ],
      "id": "a71fa628-fbf7-49fe-85c1-48b31d588aad",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3Q08tzKDlp9K7tEQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        608,
        336
      ],
      "id": "4d64b4ff-2257-497e-9b3d-62391b888d54",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"answer\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1024,
        304
      ],
      "id": "ab133d84-83f0-4a15-b6db-d16262be3fbc",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output.answer }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        80
      ],
      "id": "cb7e7179-a1c7-4e97-827f-f6bf500b092b",
      "name": "Send a text message",
      "webhookId": "76fc112f-9e1d-459d-93fd-05ac75c43db7",
      "credentials": {
        "telegramApi": {
          "id": "UzRKc2SIJAN5bvOp",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Send a chat action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a chat action": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}