Lead_Outreach_Email_Agent/Lead_Outreach_Email_Agent.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IgPTGQvN0QsAEwFdgbxYzQgxwCFGdj5e94Sh_Xs8Hv8",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IgPTGQvN0QsAEwFdgbxYzQgxwCFGdj5e94Sh_Xs8Hv8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IgPTGQvN0QsAEwFdgbxYzQgxwCFGdj5e94Sh_Xs8Hv8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [208, 0],
      "id": "db0e89ed-d674-4431-bd95-25426c887d8e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3Q08tzKDlp9K7tEQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI marketing assistant that crafts personalized outreach emails.\nYour persona: You are a friendly, knowledgeable marketing professional representing your company’s product or service.\nYou aim to create curiosity and start a conversation, not make a hard sale.\n\n---\n\nLEAD DATA:\n- Name: {{ $json.Name }}\n- Industry:{{ $json.Industry }}\n- Role: {{ $json.Role }}\n- Email: {{ $json.Email }}\n- Phone: {{ $json.Phone }}\n\n---\n\nINSTRUCTIONS:\n1. Start with a warm, professional greeting using the person’s first name.\n2. Mention something relevant or interesting about their industry or role.\n3. Briefly introduce yourself as a **marketing professional** from your company (don’t overdo it).\n4. Explain how your product/service could add value to their work or solve a problem they likely face — tailor this to their industry.\n5. End with a friendly, non-pushy call-to-action (e.g., a quick chat, sharing more details, or scheduling a short demo).\n6. Keep the tone conversational and human — avoid sounding robotic or overly salesy.\n7. Keep the entire email under 120 words.\n\n---\n\nOUTPUT STRUCTURE (JSON):\n{\n  \"subject\": \"<short, catchy subject line related to the lead’s industry>\",\n  \"email_body\": \"<personalized email text with greeting, body, and closing>\",\n  \"to\": \"{{ $json.Email }}\"\n}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [672, 16],
      "id": "4280b56c-73ae-43ff-ba7d-d526fdd3b1f2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [576, 240],
      "id": "f86d4651-7406-4e98-b676-ad122a083e76",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HzJnrNQebZhL89av",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"subject\": \"Quick idea to boost  campaigns\",\n\"email_body\": \"Hi hello \",\n\"to\": \"abcd@gmail.com\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [848, 224],
      "id": "0d5ec641-7f76-48f5-90c6-250b2c02192b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [416, 0],
      "id": "bc7c1bb7-6a6c-44ad-8714-f73c77cbaecc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.output.to }}",
        "subject": "={{ $json.output.subject }}",
        "emailType": "text",
        "message": "={{ $json.output.email_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1024, 16],
      "id": "112e5ead-9a89-43a2-bd51-3342acecd0f9",
      "name": "Send a message",
      "webhookId": "61e84ad2-2e1d-4b37-b8f7-1f329411ea5e",
      "credentials": {
        "gmailOAuth2": {
          "id": "VRkSns3ZukgyPqsW",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [[]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
