LinkedIn Automation/LinkedIn_Automation.json
{
  "name": "LinkedIn Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "73799980-c9e0-460f-9116-9711cb25cb2f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1effGfz8s3XQTEdxRg1OgEfl0cdeQDuNUndj-3P3omiA",
          "mode": "list",
          "cachedResultName": "LinkedIN Automation n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1effGfz8s3XQTEdxRg1OgEfl0cdeQDuNUndj-3P3omiA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1effGfz8s3XQTEdxRg1OgEfl0cdeQDuNUndj-3P3omiA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [208, 0],
      "id": "83cc6dfa-ef45-4b11-8fe9-464ee0f157ed",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3Q08tzKDlp9K7tEQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "65138a8a-94d5-4116-b850-05c3cc558598",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [416, 0],
      "id": "5910522e-955b-4874-90bd-62678a860d3f",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [624, -96],
      "id": "796e6441-6b9e-44cf-86f9-04c66f3eb1c1",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert LinkedIn content creator who writes engaging, insightful, and professional posts designed to build thought leadership and drive engagement.\n\nGenerate a complete LinkedIn post for the title: {{ $json[\"LinkedIn Post Title\"] }} that:\n\n- Starts with a hook or relatable opening that captures attention.\n- Provides valuable insights, lessons, or a short story relevant to the title.\n- Uses a conversational and authentic tone (avoid being too formal or “salesy”).\n- Includes short paragraphs, line breaks, and emojis where appropriate for readability.\n- Ends with a call to action or question to encourage comments and interaction.\n- Keeps the length between 100–200 words.\n\nThen, based on the **main theme and emotion** of the LinkedIn post, generate a **short, visual image prompt** for an AI image generator (like Gemini) that can produce a relevant and engaging banner or visual to accompany the post.\n\nGuidelines for the image prompt:\n- Keep it **concise (1–2 sentences)**.\n- Focus on **concepts, colors, emotions, and composition**, not words or text in the image.\n- Make it suitable for a **LinkedIn-style professional post** (clean, modern, visually appealing).\n- Do **not** include any text, logos, or watermarks in the image.\n\n---\n\n### Output Format:\nReturn your response **strictly as valid JSON** in the following format:\n\n{\n  \"title\": \"{{ $json['LinkedIn Post Title'] }}\",\n  \"post\": \"<the complete LinkedIn post text here>\",\n  \"image_prompt\": \"<a concise, descriptive image generation prompt for Gemini>\"\n}\n\nDo not include any explanations, markdown formatting, or text outside this JSON.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [832, -96],
      "id": "af98de2d-7534-40d2-a388-2c166da07d4a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [688, 112],
      "id": "1eca6e80-0f5b-496c-a61b-518fd8ff9a4c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HzJnrNQebZhL89av",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"{{ $json['LinkedIn Post Title'] }}\",\n  \"post\": \"<the complete LinkedIn post text here>\",\n  \"image_prompt\": \"<a concise, descriptive image generation prompt>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [1008, 112],
      "id": "0a004283-41c8-4f53-8d91-c138b659a512",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1effGfz8s3XQTEdxRg1OgEfl0cdeQDuNUndj-3P3omiA",
          "mode": "list",
          "cachedResultName": "LinkedIN Automation n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1effGfz8s3XQTEdxRg1OgEfl0cdeQDuNUndj-3P3omiA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1effGfz8s3XQTEdxRg1OgEfl0cdeQDuNUndj-3P3omiA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LinkedIn Post Title": "={{ $json.output.title }}",
            "Generated Content": "={{ $json.output.post }}",
            "Status": "Pending",
            "Image Prompt": "={{ $json.output.image_prompt }}"
          },
          "matchingColumns": ["LinkedIn Post Title"],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn Post Title",
              "displayName": "LinkedIn Post Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generated Content",
              "displayName": "Generated Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image Prompt",
              "displayName": "Image Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image Base64",
              "displayName": "Image Base64",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1184, -96],
      "id": "ec5f8d29-bd8a-4157-a1b4-8b56598e5eec",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3Q08tzKDlp9K7tEQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://image.pollinations.ai/prompt/{{ $json[\"Image Prompt\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1392, -96],
      "id": "ff5d7570-c834-4f00-ae9b-9d3e7c1453aa",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "person": "RFLQyJfOuC",
        "text": "={{ $json[\"Generated Content\"] }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "={{ $('HTTP Request').item.binary.data }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [1600, -96],
      "id": "490956ea-e661-4420-920d-b293be90e05f",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "UQqlFRyXdf4VvSAe",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1effGfz8s3XQTEdxRg1OgEfl0cdeQDuNUndj-3P3omiA",
          "mode": "list",
          "cachedResultName": "LinkedIN Automation n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1effGfz8s3XQTEdxRg1OgEfl0cdeQDuNUndj-3P3omiA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1effGfz8s3XQTEdxRg1OgEfl0cdeQDuNUndj-3P3omiA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LinkedIn Post Title": "={{ $('Append or update row in sheet').item.json['LinkedIn Post Title'] }}",
            "Status": "Posted"
          },
          "matchingColumns": ["LinkedIn Post Title"],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn Post Title",
              "displayName": "LinkedIn Post Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generated Content",
              "displayName": "Generated Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image Prompt",
              "displayName": "Image Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1808, -96],
      "id": "8a009f03-f3ad-4821-8136-826de98fbc2e",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3Q08tzKDlp9K7tEQ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
